#### Even after trying for so many times, your friend’s startup could not find the investment. So you decided to take this matter in your hand and try to find the list of investors who probably can invest in your friend’s startup. Your list will increase the chance of your friend startup getting some initial investment by contacting these investors. Find the top 5 investors who have invested maximum number of times (consider repeat investments in one company also). In a startup, multiple investors might have invested. So consider each investor for that startup. Ignore undisclosed investors.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [2]:
data_set=pd.read_csv('/Users/jasyed/Documents/VISA/Learnings/Materials/MachineLearning/Coding_Ninjas_ML/startup_funding.csv',encoding='utf-8')

data_set['CityLocation'].dropna(inplace=True) 

def separateCity(data):
    return str(data).split('/')[0].strip()

city_list=['New Delhi','Bangalore','Mumbai','Gurgaon','Noida']

In [6]:
# Cleanup City names
data_set['CityLocation'] = data_set['CityLocation'].replace("Delhi","New Delhi")
data_set['CityLocation'] = data_set['CityLocation'].replace("bangalore","Bangalore")

data_set['CityLocation'] = data_set['CityLocation'].apply(separateCity)


city_list_data_df = data_set[data_set.CityLocation.isin(city_list)]

#city_list_data_df_count = city_list_data_df['CityLocation'].value_counts().sort_values(ascending=False)

In [7]:
city_list_data_df.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
5,5,01/07/2017,Billion Loans,Consumer Internet,Peer to Peer Lending platform,Bangalore,Reliance Corporate Advisory Services Ltd,Seed Funding,"1,000,000",NaN

In [8]:
city_list_data_df['InvestorsName'].dropna(inplace=True)

/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:4494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(result)

In [10]:
def createDictionary(array):
    dictionary={}
    
    for i in array:
        if ',' not in i:
            if i in dictionary:
                dictionary[i] = dictionary.get(i)+1
            else:
                dictionary[i] = 1
        else:
            string = i.split(',')
            for j in string:
                if j.strip() in dictionary:
                    dictionary[j.strip()] = dictionary.get(j.strip())+1
                else:
                    dictionary[j.strip()]=1
    return dictionary

In [18]:
dictionary = createDictionary(city_list_data_df['InvestorsName'])
dataf = pd.DataFrame(list(dictionary.values()), list(dictionary.keys()))
dataf = dataf.sort_values(by=[0], ascending=False)[0:6]
print(dataf)

                  0
Sequoia Capital  52
Accel Partners   44
                 35
SAIF Partners    35
Blume Ventures   35
Kalaari Capital  32